

.draggable-container  {
    padding: 20px;
}
.draggable-container__img-wrapper {
    position: absolute;
    border: 1px solid black;
    width: 100px;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}
