body {
    padding-top: 10px;
    color: #426c79;
    background-color: #000712;
}

.modal-app {
    position: absolute;
    width: 100%;
    background-color: rgba(46, 33, 34,0.9);
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

.button-close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background-color: #00213a;
    border: none;
}

:root {
    --bgc: #000712;
    --bginput: #00213a;
    --text: #426c79;
    --border: #f89554;
    --border-block: #7f7f7f;
}

/* color: #f89554*/
/*  color: #f2e2dd*/
/*  color:#426c79*/
/*  color:#00213a*/
/*  color:#000712*/